<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bitsplease.driber.driberandroid">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".PickServiceType"
            android:label="@string/title_activity_pick_service_type"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".HireDriver"
            android:label="@string/title_activity_hire_driver"
            android:theme="@style/AppTheme.NoActionBar"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDH2HU-lO6wuNPiu6LnrH5dPSjKmlmYjWY"/>

        <activity
            android:name=".HiredDriverStatus"
            android:label="@string/title_activity_hired_driver_status"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".MainActivity">
        </activity>
    </application>

</manifest>